/PrimeiroPrograma/target/
/Hello World/HelloWorld/nbproject/private/
/Hello World/HelloWorld/build/
/hello-world-swing/HelloWorldSwing/nbproject/private/
/hello-world/HelloWorld/build/
/hello-world/HelloWorld/nbproject/private/
/hello-world-swing/HelloWorldSwing/build/
/hello-world-javafx/HelloWorldJavaFX/nbproject/private/
/hello-world-javafx/HelloWorldJavaFX/build/
/hello-world-javafx/HelloWorldJavaFX/dist/
/hello-world-swing/HelloWorldSwing/dist/
/tipos-primitivos/TiposPrimitivos/nbproject/private/
/tipos-primitivos/TiposPrimitivos/build/
/teste-tipos/TesteTipos/nbproject/private/
